/* Reset Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
/* Reset End */

/* Navbar Start */
.navbar {
  background-color: rgb(30, 30, 30);
  padding: 20px 0;
}

/* Navbar End */

/* Jumbotron Start */
.jumbotron {
  padding: 2rem 1rem;
  background-color: rgb(30, 30, 30);
  color: white;
  height: 92vh;
}

.desc {
  margin-top: 14%;
}

@media only screen and (max-width: 600px) {
  .jumbotron {
    height: 90.55vh;
  }
  .desc {
    margin-top: 45%;
  }
}
/* Jumbotron End */

/* About Start */
.about {
  padding-top: 30px;
  height: 750px;
}

.about img {
  margin: 0;
  padding: 0;
  width: 200px;
  border-radius: 50%;
  display: block;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.13);
}

.about-desc {
  padding: 0;
}
/* About End */

/* Project Start */
#projects {
  padding-top: 0;
  background-color: rgb(30, 30, 30);
  color: white;
  height: 770px;
}

#projects .container {
  margin-top: 50px;
}

#projects img {
  cursor: pointer;
  margin-bottom: 20px;
  transition: 0.3s;
}

#projects img:hover {
  box-shadow: 0px 2px 5px 9px rgba(158, 154, 154, 0.13);
  -webkit-box-shadow: 0px 2px 5px 9px rgba(158, 154, 154, 0.13);
  -moz-box-shadow: 0px 2px 5px 9px rgba(158, 154, 154, 0.13);
}

@media only screen and (max-width: 600px) {
  #projects {
    height: 110%;
  }
  #projects .container {
    margin-top: 10px;
  }
}
/* Project End */

/* Contact Start */
#contact {
  height: 720px;
}

#contact .social {
  margin-top: 200px;
}

.social-icon a {
  text-decoration: none;
  color: rgb(30, 30, 30);
}
/* Contact End */

/* Modal Start */
.modal-body .thumb {
  display: block;
  width: 500px;
  padding: 0;
  margin: 0 0 20px 0;
  border-radius: 5%;
  border: 5px solid rgba(30, 30, 30, 0.1);
}
/* Modal End */
